<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <%= link_to "by "+@training.user.name, user_path(@training.user_id), class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @training.user_id %>
        <div class="prototype__manage">
          <%= link_to "削除する", training_path(@training), class: :prototype__btn, method: :delete %>
        </div>
      <% end %>
      <div class="prototype__body">
        <%= @training.start_time %>
      </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @training.image if @training.image.attached? %>
      </div>
      <div class="prototype__body">
        <%= @training.text %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">部位</p>
          <p class="detail__message">
            <%= @training.parts_outline.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">内容</p>
          <p class="detail__message">
            <%= @training.parts_detaile.name %>
          </p>
          <p class="detail__message">
            <%= @training.weight %><%= "kg × "%><%= @training.number_of_times %><%= "Reps"%>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>